#pollsDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#createPollDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}

#pollCreatorButton{
  float: right;
}
