<div class="header">
  <mat-form-field>
    <input matNativeControl
      type="search"
      class="search-bar"
      (input)="filterFilesRegex($event)"
      placeholder="Search for Files, Subjects, ..."
    />
  </mat-form-field>
</div>

<div class="listContainer">
  <div id="filesListed" >
    <app-file-display  *ngFor="let file of fileArray" [name]="file.name" [id]="file.id" [year]="file.year" [subject]="file.subject" [student]="file.student" [likesCount]="file.likesCount" [liked]="file.liked"></app-file-display>
  </div>
</div>
