.fileDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease;
  width: 75%;
  min-width: fit-content;
  padding: 10px;
}

.name {
  position: relative;
  cursor: pointer;
}

.fileDiv:hover {
  scale: 101%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fileDiv:hover .name.underline-effect::after {
  width: 100%;
}

.name.underline-effect::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 3px;
  border-radius: 2px;
  background-color: cornflowerblue;
  transition: width 0.3s ease-in-out;
}
