#fileDiv{
  cursor: pointer;
  font-size: 150%;
  padding: 1%;
  background-color: white;
  color: orangered;
  border: 2px solid orangered;
  border-radius: 10px;
  transition: all 0.3s ease;
  margin: 1%;
  font-family: Consolas, sans-serif;
  display: inline-block;
  width: 95%;
}

#fileDiv:hover{
  background-color: orangered;
  color: white;
}

.displayHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
