<mat-card class="fileDiv" appearance="outlined">
  <div class="title" (click)="navigateToFile()">
    <mat-card-title class="name underline-effect">{{ name }}</mat-card-title>
  </div>
  <div class="chips">
    <mat-chip-set aria-label="Chihuahua traits">
      <mat-chip (click)="addYearFilter()">{{year}}.Klasse</mat-chip>
      <mat-chip (click)="addSubjectFilter()">{{subject}}</mat-chip>
      <mat-chip class="userName" (click)="goToUserInfo()">{{ student }}</mat-chip>
      <button #likeButton
              class="like-button"
              (click)="onLikeChanged($event)"
              [class.liked]="liked">
        <div class="heart-container">
          <div class="heart-background"></div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path
              d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path>
          </svg>
        </div>
        <div class="count-container">
          <span>{{ likesCount }}</span>
        </div>
        <div class="particles" *ngIf="liked"></div>
      </button>
      <app-admin-options *ngIf="isAdmin" [id]="this.id" [itemType]="'file'"></app-admin-options>
    </mat-chip-set>
  </div>
</mat-card>
