:host {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.accountSettings-container {
  margin-top: 3%;
  transition-duration: 0.5s;
  text-align: center;
  background: white;
  padding: 95px;
  border-radius: 10px;
  border: 3px solid orangered;
  max-width: 600px;
  width: 90%;
}


h2{
  font-family: Consolas, sans-serif;
  color: orangered;
  margin-bottom: 50px;
  font-size: 3rem;
  font-weight: normal;
}

p {
  color: #333333;
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 30px;
}

button {
  transition-duration: 0.5s;
  background-color: white;
  color: orangered;
  padding: 10px 15px;
  font-size: 150%;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid orangered;
  margin: 2%;
}

button:hover {
  color: white;
  background-color: orangered;
}

input{
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
}

input:focus {
  border-color: orangered;
}

label{
  margin: 5px;
  font-size: x-large;
}
