<div class="chat-container">
  <div class="chat-messages" #chatMessages>
    <div *ngFor="let msg of messages" [ngClass]="{'mine': msg.user === user, 'theirs': msg.user !== user}">
      <mat-card>
        <mat-card-content>
          <div class="username" (click)="navigateUser(msg.user)" style="cursor: pointer">{{ msg.user }}</div>
          <div class="message">{{ msg.message }}</div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="chat-input">
    <mat-form-field class="input-field" appearance="fill">
      <input matInput [(ngModel)]="message" placeholder="Nachricht eingeben..." (keyup.enter)="sendMessage()" />
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="sendMessage()">Senden</button>
  </div>
</div>
