.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.chat-messages {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.username {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.message {
  font-size: 1em;
}

.chat-messages div {
  display: flex;
}

.mine {
  justify-content: flex-end;
}

.theirs {
  justify-content: flex-start;
}

mat-card {
  max-width: 70%;
  padding: 10px;
}

.username {
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.message {
  font-size: 1em;
}

.chat-input {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 600px;
}

.input-field {
  flex-grow: 1;
}
