<header id="header">
  <div class="logo-container">
    <img src="assets/pics/Logo.png" alt="logo">
    <h1 routerLink="/" style="cursor: pointer">Leoweb</h1>
    <div class="switch-container">
      <label class="switch">
        <input type="checkbox" id="darkmode-switch">
        <span class="slider"></span>
      </label>
    </div>
    <a id="Account" class="animated-link" (click)="navigateToAccountSettings()"><img src="assets/pics/account_white.png" alt="AccountButton" style="width: 7%; height: auto" id="accountimage">  <span id="color" style="cursor: pointer; margin-left: 1%"> Account Settings</span></a>
  </div>
  <button (click)="navigateToLogin()" class="btn btn-primary">
    Login
  </button>
</header>
