<header id="header">
  <div class="logo-container">
    <img src="assets/pics/Logo.png" alt="logo">
    <h1>Leoweb</h1>
    <div class="switch-container">
      <label class="switch">
        <input type="checkbox" id="darkmode-switch">
        <span class="slider"></span>
      </label>
    </div>
    <a href="index.html" id="Account" class="animated-link"><img src="assets/pics/account_white.png" alt="AccountButton" style="width: 7%; height: auto" id="accountimage">  <span id="color">Account Settings</span></a>
  </div>
</header>
