h2 {
  font-size: 30px;
  margin-bottom: 5px;
}

h3{
  font-size: 15px;
  margin-bottom: 10px;
}

#resultMessage {
  margin-top: 15px;
  font-weight: bold;
}

mat-card{
  width: 600px;
  justify-content: center;
  align-items: center;
  margin: 3%;
  padding: 3%;
}


