<!--<div class="register-form">
  <h2>Register</h2>

  <form (ngSubmit)="register()">
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required />
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required />
    </div>

    <div>
      <label for="confirmPassword">Confirm Password</label>
      <input type="password" id="confirmPassword" [(ngModel)]="confirmPassword" name="confirmPassword" required />
    </div>

    <div>
      <input type="checkbox" id="admin" name="admin" [(ngModel)]="isAdmin" (change)="checkedAdmin()">
      <label for="admin">admin</label>
    </div>

    <button type="submit">Register</button>
  </form>

  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>
</div>-->


<mat-card>
  <mat-card-title>Register</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="register()">
      <p>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="confirmPassword">
        </mat-form-field>
      </p>

      <p>
        <mat-checkbox formControlName="isAdmin">admin</mat-checkbox>
      </p>

      <div class="button">
        <button type="submit" mat-button>Register</button>
      </div>
    </form>
  </mat-card-content>
  <p class="create-account">
    Schon ein Konto? <a routerLink="/login">Login</a>
  </p>
</mat-card>

