<!--<div class="login-container">
  <h2>Login</h2>
  <form formGroup="form" (ngSubmit)="login()">
    <p>
      <mat-form-field class="email-form-field" appearance="fill">
        <input matInput id="email" type="email" placeholder="Email" name="email" required>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input matInput id="password" type="password" name="password" required>
      </mat-form-field>
    </p>
    <button mat-raised-button type="submit">Login</button>
  </form>
  <p>
    Noch kein Konto? <a routerLink="/register">Registrieren</a>
  </p>
</div>-->


<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="login()">
      <p>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
      </p>

      <div class="button">
        <button type="submit" mat-button>Login</button>
      </div>  
    </form>
  </mat-card-content>
  <p class="create-account">
    Noch kein Konto? <a routerLink="/register">Registrieren</a>
  </p>
</mat-card>

