:host {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.login-container {
  margin-top: 3%;
  transition-duration: 0.5s;
  text-align: center;
  background: white;
  padding: 95px;
  border-radius: 10px;
  border: 3px solid blue;
  max-width: 600px;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

h2 {
  font-family: Consolas, sans-serif;
  color: blue;
  margin-bottom: 50px;
  font-size: 3rem;
  font-weight: normal;
}

p {
  color: blue;
  font-size: 20px;
  font-family: Consolas, sans-serif;
  line-height: 1.8;
  margin-bottom: 30px;
}

button {
  transition-duration: 0.5s;
  background-color: white;
  display: block;
  color: blue;
  border: 2px solid blue;
  font-size: 150%;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 2%;
  margin-bottom: 5%;  
}

input{
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  border-color: blue;
  box-shadow: 0 0 8px rgba(255, 102, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.email-form-field {
  background-color: white; 
}
