<mat-card appearance="outlined">
  <mat-card-header>
    <h2>{{headline}}</h2>
  </mat-card-header>
  <mat-card-content>
    <h3>{{description}}</h3>
    <form id="pollForm">
      <mat-radio-group [(ngModel)]="selectedChoice" name="vote">
        <div *ngFor="let choice of choices">
          <mat-radio-button class="example-margin" [value]="choice">
            {{ choice }}
          </mat-radio-button>
        </div>
      </mat-radio-group>
      <button mat-raised-button (click)="vote()">Vote</button>
      <app-admin-options *ngIf="isAdmin" [id]="this.id" [itemType]="'poll'" [component]="'poll'" [responsibleStudentId]="this.poll.creator"></app-admin-options>
    </form>
    <p id="resultMessage"></p>
  </mat-card-content>
  <div *ngIf="isPollOwner">
    <app-poll-analyse [pollOverview]="poll"></app-poll-analyse>
  </div>
</mat-card>
