.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
}

.choices-form-field {
  width: 100%;
}

.example-button-container > button {
  margin: 0 12px;
}

.form-field{
  margin: 0 2%;
}
