#upload-button {
  align-self: flex-end;
  font-family: Consolas, sans-serif;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 10px;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  margin-right: 0;
  padding: 0;
}

.filter-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 18rem;
  height: 100%;
  background-color: #f4f4f4;
  padding: 9.24rem 1rem 1rem;
  border-right: 2px solid cornflowerblue;
  min-width: fit-content;
  box-sizing: border-box;
  overflow-y: auto;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  margin-left: 18rem;
  box-sizing: border-box;
}
