.upload-card {
  font-family: Consolas, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 16px;
  width: 60%;
  margin: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  background-color: white;
}

.selects {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.file-select-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

mat-form-field {
  width: 100%;
}

button {
  height: 3rem;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 6px;
}

button[type="submit"] {
  margin-top: 10px;
}
