<mat-card class="upload-card">
  <div class="options">
    <div class="selects">
      <mat-form-field>
        <mat-label>Year</mat-label>
        <mat-select id="year" (selectionChange)="setYear($event)">
          <mat-option *ngFor="let year of [1,2,3,4,5]" [value]="year">{{ year }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Branch</mat-label>
        <mat-select id="branch" (selectionChange)="setBranch($event)">
          <mat-option *ngFor="let option of branchSelectOptions" [value]="option">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Subject:</mat-label>
        <mat-select id="subject" multiple (selectionChange)="setSubject($event)">
          <mat-option *ngFor="let option of lessonsSelectOptions" [value]="option">{{ option }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="file-select-button-container">
      <button mat-stroked-button color="accent" (click)="fileInput.click()">Choose File</button>
      <input #fileInput type="file" multiple hidden (change)="onFileSelected($event)">
    </div>
  </div>

  <form (submit)="onSubmit($event)" enctype="multipart/form-data">
    <button mat-raised-button color="accent" type="submit">Upload</button>
  </form>
</mat-card>
