<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title> Poll overview </mat-panel-title>
    <mat-panel-description> This is your poll overview</mat-panel-description>
  </mat-expansion-panel-header>
  <p *ngIf="voteCount === 0; else pieChart">No votes yet</p>
  <ng-template #pieChart>
    <mat-tab-group>
      <mat-tab label="Pie Chart">
        <app-pie-chart [input]="pollOverview.votes" [size]="[400,300]"></app-pie-chart>
      </mat-tab>
      <mat-tab label="Bar Chart">
        <app-bar-chart [input]="pollOverview.votes"></app-bar-chart>
      </mat-tab>
    </mat-tab-group>
  </ng-template>
</mat-expansion-panel>
